.masonry-grid {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.masonry-item {
  width: 300px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .masonry-grid {
    column-count: 4;
  }
}
